* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*

    LOADING SCREEN

*/

#loading-screen {
    display: none;
    position: fixed;
    inset: 0;
    background: #edebdd;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-screen i {
    font-size: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


/*

    HEADER 
    
*/

header {
    max-width: 1600px;
    height: 200px;
    padding: 12px;
    margin: 12px;
    background-color: #edebdd;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.header__img {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    z-index: 1;
    padding: 0;
    mask-image: radial-gradient(circle, black 60%, transparent 100%);

}

.header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
}

.title {
    margin: 16px;
}

.row__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.hidden {
    width: 200px;
    height: 32px;
    margin-top: 18px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid transparent;
}

.submit {
    margin-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

#submit__input {
    width: 200px;
    height: 32px;
    background-color: #edebdd;
    border-radius: 6px;
    border: 2px solid black;
    padding: 0 32px 0 14px;
    margin-left: 30px;
    box-sizing: border-box;
}

#submit__input:focus {
    outline: none;
    border-color: #F5BB27;
}

.submit__input--button {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
}

.submit__input--button:hover {
    color: #F5BB27;
}

.select__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 18px 50px 0 0;
}

.select {
    height: 32px;
    max-width: 200px;
    text-align: center;
    background-color: #edebdd;
    border-radius: 6px;
    border: 2px solid black;
}

.select:focus {
    outline: none;
    border-color: #F5BB27;
}

/* 

    RESULTS 
    
*/

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

.movie__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 24px 12px 24px 12px;  
}

.movie__list img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;  
}


.movie__list img:hover {
    transform: scale(1.1) translateY(-15px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie {
    flex: 0 0 calc(33.333% - 20px);
    text-align: center;
    line-height: 1.5;
}

/* 

    FOOTER 
    
*/

footer {
    height: 20vh;
    background-color: #edebdd;
    padding: 12px;
    text-align: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.footer__link {
    padding: 18px;
    color: black;
}

.footer__link:hover {
    color: #F5BB27;
}

.footer__link:active {
    color: #F5BB27;
    font-weight: bold;
    font-size: 28px;
}

.footer__copyright {
    padding-top: 12px;
    font-size: 14px;
}

/* 

    MEDIA QUERIES 
    
*/

@media (max-width: 768px) {
    .movie {
        flex: 0 0 calc(50% - 20px);
    }

    .row__submit {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select__wrapper {
        margin: 0;
    }

    #submit__input {
        margin-left: 0;
    }

    .hidden {
        margin-top: 0;
        height: 0;
        padding: 0;
    }
}


@media (max-width: 480px) {
    .movie {
        flex: 0 0 calc(100% - 20px);
    }

    .hidden {
        margin-top: 0;
        height: 0;
        padding: 0;
    }
}