* {
    padding: 0;
    margin: 0;
}

header {
    max-width: 1600px;
    height: 200px;
    padding: 12px;
    margin: 12px;
    background-color: #edebdd;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.header__img {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    z-index: 1;
    padding: 0;
    mask-image: radial-gradient(circle, black 60%, transparent 100%);

}

.header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
}

.title {
    margin: 16px;
}

.submit {
    margin-top: 20px
}

.submit__input {
    height: 20px;
    border-radius: 6px;
    border: none;
}

.submit__input--button {
    cursor: pointer;
}

/* RESULTS */

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

.movie__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px;  
}

.movie__list img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;  
}

.movie {
    flex: 0 0 calc(33.333% - 20px);
    text-align: center;
    line-height: 1.5;
}
